:root {
	--ff-poppins: 'Poppins', sans-serif;

	--welcome-divs-height: 60vh;
	--img-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);

	--fs-1: 24px;
	--fs-2: 18px;
	--fs-3: 17px;
	--fs-4: 16px;
	--fs-5: 15px;
	--fs-6: 14px;
	--fs-7: 13px;
	--fs-8: 11px;

	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-family: var(--ff-poppins);
	scroll-behavior: smooth;
}

body {
	background: white;
}

a {
	text-decoration: none;
	color: pink;
}

li {
	list-style: none;
}

button {
	background: none;
	border: none;
	text-align: center;
	cursor: pointer;
	font-family: var(--ff-poppins);
}

/* 
	Responsive screen widths 
	450, 580, 768, 1024, 1250 

	mobile   - 360 × 640 
	mobile   - 450 × 768 
	tablets  - 580 × 768 
	tablets  - 768 × 1024 
	desktops - 1024 × 768 
	desktops - 1280 × 720 
	desktops - 1440 × 900
*/

/* all these properties are for mobile first view - "upto width of 450px" */

/* MODAL */

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-img {
	margin: auto;
	display: block;
	width: auto;
	height: auto;
	max-width: 90%;
	max-height: 70vh;
	border: 5px solid white;
}

.modal-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

.zoom-in {
	animation-name: zoom-in;
	animation-duration: 0.6s;
}

.zoom-out {
	animation-name: zoom-out;
	animation-duration: 0.2s;
}

@keyframes zoom-in {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes zoom-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* MODAL */

/* 
	NAVBAR
*/

.navbar {
	background-color: brown;
	line-height: 60px;
}

.nav-link {
	padding: 10px 15px 10px 15px;
	color: bisque;
}

.nav-link.active {
	color: black;
}

.nav-link:hover {
	color: gray;
}

.nav-link:first-child {
	font-size: var(--fs-2);
	font-weight: var(--fw-500);
}

.nav-link:not(:first-child) {
	display: none;
}

.nav-link.icon {
	padding: 0;
	float: right;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	height: 60px;
	width: 60px;
	position: relative;
}

/* image */
.navbar-toggle-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	width: 15px;
	margin: auto;
}

/* opened navbar settings */

.navbar.responsive a {
	float: none;
	display: block;
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
}

/* 
	WELCOME 
*/

.welcome {
	height: 75vh;
	padding: 20px;
	margin-top: 60px;
	position: relative;
}

.brand-logo,
.separator,
.welcome-header {
	height: var(--welcome-divs-height);
	float: left;
	width: 46%;
	display: inline;
	margin-bottom: 80px;
}

.brand-logo {
	line-height: var(--welcome-divs-height);
	text-align: right;
}

.brand-logo img {
	vertical-align: middle;
	height: 100px;
	width: 100px;
	border-radius: 3px;
	/* box-shadow: var(--img-box-shadow); */
}

.separator {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto 0 auto;
	width: 2px;
	height: var(--welcome-divs-height);
	background-color: gray;
	border-radius: 10px;
}

.welcome-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	float: right;
}

.welcome-header h1 {
	text-align: left;
}

.subtitle {
	display: block;
	clear: both;
	height: fit-content;
	text-align: center;
	font-size: var(--fs-4);
}

/* 
	ABOUT 
*/

.about {
	height: fit-content;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.about img {
	width: 90%;
	margin-bottom: 30px;
	box-shadow: var(--img-box-shadow);
	border-radius: 3px;
}

.about h2 {
	padding: 5px 10px 0 10px;
	text-align: left;
	margin-bottom: 20px;
}

.about p {
	padding: 0 10px 0 10px;
	text-align: justify;
}

/* 
	CONTACT
*/

.contact {
	height: fit-content;
	padding: 20px;
	margin-bottom: 50px;
	text-align: center;
}

.address {
	margin-bottom: 25px;
}

.contact h2 {
	padding: 5px 10px 0 10px;
	text-align: left;
	margin-bottom: 40px;
}

.social-icon {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}

.social-icon p {
	display: inline;
	color: brown;
}

.social-icon img {
	display: inline;
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

.social-icon:hover img {
	transform: scale(1.2);
}

/* 
	PORTFOLIO 
*/

.portfolio {
	height: fit-content;
	padding: 20px 20px 0 20px;
	text-align: center;
}

.portfolio h1 {
	text-align: left;
	padding-left: 10px;
	margin-top: 10px;
}

.tabs {
	text-align: center;
	margin-bottom: 15px;
	margin-top: 5px;
}

.btn-tab {
	font-size: var(--fs-4);
	padding: 20px 10px;
	font-weight: var(--fw-400);
}

.btn-tab.active {
	color: red;
}

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
	padding: 10px;
	min-height: 60vh;
	text-align: center;
	animation: fade 1s ease backwards;
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* 
	PORTFOLIO - art and photography 
*/

/* ".list-item" for art-item-list and photography-item-list */

.list-item {
	display: inline-block;
	margin: 0 5px 35px 5px;
	width: 45%;
	vertical-align: top;
}

/* make list-item 1:1 by cropping using css */
.list-item img {
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	border-radius: 5px;
	object-fit: cover;
	box-shadow: var(--img-box-shadow);
}

.list-item img:hover {
	cursor: pointer;
	transition: 0.3s;
	opacity: 0.8;
	transform: scale(1.1);
}

/* 
	PORTFOLIO - design 
*/

.design {
	height: 60%;
	text-align: center;
	margin-bottom: 30px;
}

.design-preview {
	margin-bottom: 20px;
	height: 375px;
	position: relative;
}

.design-preview-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: fit-content;
	max-height: 375px;
}

.design-preview .img-container,
.design-preview .caption-container {
	display: block;
	width: 90%;
	text-align: center;
	margin: 0 auto 0 auto;
}

.design-preview .img-container {
	margin: 0 auto 15px auto;
}

.design-preview-img {
	width: auto;
	height: auto;
	max-width: 250px;
	max-height: 200px;
	border-radius: 5px;
	box-shadow: var(--img-box-shadow);
}

.caption-title,
.caption-text {
	margin-bottom: 5px;
}

.caption-text {
	font-size: var(--fs-5);
}

.caption-date {
	color: gray;
	font-size: var(--fs-7);
}

/* integrating prev & next buttons */

.controls {
	position: absolute;
	left: -15px;
	top: 130px;
	width: auto;
	padding: 15px;
	margin-top: -30px;
	color: brown;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	border-radius: 100px;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	display: block;
	right: -15px;
	left: inherit;
	width: fit-content;
}

.controls:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

/* integrating prev & next buttons */

/* horizontal scroll for design */

.h-scroll {
	margin: 0 15px 0 15px;
	overflow: auto;
	white-space: nowrap;
	background-color: rgba(212, 212, 212, 0.2);
}

.h-item {
	display: inline-block;
	padding: 10px 1px 10px 1px;
	height: 66px;
	width: 66px;
}

.h-item:hover {
	cursor: pointer;
}

.h-item img {
	width: 60px;
	height: 60px;
	border-radius: 3px;
	opacity: 0.8;
}

.h-item.active img {
	opacity: 1;
	border: 2px solid brown;
	transform: scale(1.1);
}

/* 
	FOOTER
*/

.footer {
	text-align: center;
	height: 60px;
	padding: 10px;
	background-color: aliceblue;
}

.footer p {
	line-height: 60px;
}

/* utility class hidden */

.hidden {
	display: none;
}

/* 
	RESPONSIVE
*/

@media screen and (min-width: 450px) {
	.brand-logo img {
		height: 150px;
	}

	.list-item {
		width: 30%;
	}

	.design-preview-container {
		max-height: 400px;
	}

	.design-preview-img {
		width: auto;
		height: auto;
		max-width: 300px;
		max-height: 220px;
	}

	.controls {
		top: 135px;
	}
}

@media screen and (min-width: 580px) {
	/* toggle hamburger menu on screens smaller then 580px */
	.nav-link:not(:first-child) {
		display: inline;
	}

	.nav-link.icon {
		display: none;
	}

	.welcome,
	.about,
	.contact {
		padding-left: 40px;
		padding-right: 40px;
	}

	.brand-logo img {
		width: 175px;
		height: 175px;
	}

	.design-preview {
		min-height: 350px;
	}

	.design-preview-container {
		max-height: 350px;
	}

	.design-preview-img {
		width: auto;
		height: auto;
		max-width: 475px;
		max-height: 225px;
	}

	.controls {
		top: 150px;
	}

	.modal-img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 80vh;
	}
}

@media screen and (min-width: 768px) {
	/* index */

	.brand-logo img {
		width: 250px;
		height: 250px;
	}

	.brand-header h1 {
		font-size: 28px;
	}

	.subtitle {
		font-style: var(--fs-2);
	}

	.about {
		text-align: center;
		height: 270px;
	}

	.about div {
		display: inline;
		width: 50%;
	}

	/* vertically align items */
	.about-img {
		height: inherit;
		float: right;
		position: relative;
	}

	.about-img img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.about-content {
		height: inherit;
		float: left;
		position: relative;
	}

	.about-content-data {
		height: fit-content;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		min-width: 100%;
	}

	/* portfolio */

	.portfolio header,
	.portfolio .tabs {
		height: 70px;
		display: inline;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.portfolio header {
		float: left;
		padding-left: 10px;
	}

	.portfolio .tabs {
		float: right;
		padding-right: 20px;
	}

	.tab-content.active {
		clear: both;
	}

	.list-item {
		width: 20%;
	}

	.design-preview {
		min-height: 450px;
	}

	.design-preview-img {
		width: auto;
		height: auto;
		max-width: 600px;
		max-height: 225px;
	}

	.controls {
		top: 225px;
	}

	.modal-img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 90vh;
	}
}

@media screen and (min-width: 1024px) {
	.welcome,
	.about,
	.contact,
	.portfolio {
		padding-left: 100px;
		padding-right: 100px;
	}

	.brand-logo img {
		width: 350px;
		height: 350px;
	}

	.welcome-header h1 {
		font-size: 32px;
	}

	.navbar a:first-child {
		margin-left: 100px;
	}

	.welcome-header h1 {
		font-size: 32px;
	}

	.portfolio {
		padding-top: 40px;
	}

	.portfolio header,
	.portfolio .tabs {
		margin-bottom: 20px;
	}

	.design-preview {
		min-height: 375px;
	}

	.design-preview-img {
		width: auto;
		height: auto;
		max-width: 750px;
		max-height: 225px;
	}

	.controls {
		top: 135px;
	}

	.modal-img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 80vh;
	}
}

@media screen and (min-width: 1250px) {
	.welcome,
	.about,
	.contact,
	.portfolio {
		padding-left: 150px;
		padding-right: 150px;
	}

	.navbar a:first-child {
		margin-left: 150px;
	}

	.portfolio header,
	.portfolio .tabs {
		margin-bottom: 0;
	}

	.design-preview {
		min-height: 425px;
	}

	.design-preview-img {
		width: auto;
		height: auto;
		max-width: 850px;
		max-height: 230px;
	}

	.controls {
		top: 175px;
	}

	.modal-img {
		width: auto;
		height: auto;
		max-width: 90%;
		max-height: 80vh;
	}
}
