.about {
	height: fit-content;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.about img {
	width: 90%;
	margin-bottom: 30px;
	box-shadow: var(--img-box-shadow);
	border-radius: 3px;
}

.about h2 {
	padding: 5px 10px 0 10px;
	text-align: left;
	margin-bottom: 20px;
}

.about p {
	padding: 0 10px 0 10px;
	text-align: justify;
}

@media screen and (min-width: 580px) {
	.about {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media screen and (min-width: 768px) {
	.about {
		text-align: center;
		height: 270px;
	}

	.about div {
		display: inline;
		width: 50%;
	}

	/* vertically align items */
	.about-img {
		height: inherit;
		float: right;
		position: relative;
	}

	.about-img img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.about-content {
		height: inherit;
		float: left;
		position: relative;
	}

	.about-content-data {
		height: fit-content;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		min-width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.about {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media screen and (min-width: 1250px) {
	.about {
		padding-left: 150px;
		padding-right: 150px;
	}
}
